

<mat-toolbar color="primary" class="mat-elevation-z6">
  <span style="font-size: 200%">OpenCode</span><span>Health ++</span>


  <div class = "spacer"></div>
  <input type="text" placeholder="Search something  . . .">
  <a mat-button routerLink="home"> <mat-icon>home</mat-icon> HOME </a>
  <a mat-button routerLink="diagnostics"> <mat-icon>attachment</mat-icon> DIAGNOSTICS </a>
  <a mat-button routerLink="doctors"> <mat-icon>supervised_user_circle</mat-icon> DOCTORS </a>
  <a mat-button routerLink="patients"> <mat-icon>face</mat-icon> PATIENTS </a>
  <a mat-button routerLink="medical-center"> <mat-icon>local_hospital</mat-icon> MEDICAL CENTER </a>
  <a mat-button routerLink="about"> <mat-icon>info</mat-icon> ABOUT </a>


</mat-toolbar>
