<div style="height: 100vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span style="font-size: 200%">OpenCode  </span>
      <span>  Health ++</span>
      <span class="example-spacer"></span>
      <input type="text" placeholder="Search something  . . .">
      <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="#" mat-button>
          <mat-icon>home</mat-icon>
          HOME
        </a>
        <a href="#" mat-button>
          <mat-icon>attachment</mat-icon>
          DIAGNOSTICS
        </a>
        <a href="#" mat-button>
          <mat-icon>supervised_user_circle</mat-icon>
          DOCTORS
        </a>
        <a href="#" mat-button>
          <mat-icon>face</mat-icon>
          PATIENTS
        </a>
        <a href="#" mat-button>
          <mat-icon>local_hospital</mat-icon>
          MEDICAL CENTER
        </a>
        <a href="#" mat-button>
          <mat-icon>info</mat-icon>
          ABOUT
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a href="#" mat-list-item>
          <mat-icon>home</mat-icon>
          HOME
        </a>
        <a href="#" mat-list-item>
          <mat-icon>attachment</mat-icon>
          DIAGNOSTICS
        </a>
        <a href="#" mat-list-item>
          <mat-icon>supervised_user_circle</mat-icon>
          DOCTORS
        </a>
        <a href="#" mat-list-item>
          <mat-icon>face</mat-icon>
          PATIENTS
        </a>
        <a href="#" mat-list-item>
          <mat-icon> local_hospital</mat-icon>
          MEDICAL CENTER
        </a>
        <a href="#" mat-list-item>
          <mat-icon>info</mat-icon>
          ABOUT
        </a>
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>close</mat-icon> Close
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>Bienvenido Centro Medico *********</mat-sidenav-content>
  </mat-sidenav-container>
</div>
