
.encabezado {
  display: flex;
  justify-content: center;
  font-size: xx-large;

}
.image{
  display: flex;
  justify-content: center;
}


mat-grid-tile {
  background: skyblue;
}

.grid{
  width: 80%;
  max-width: 100%;
  justify-content: center;
  margin: auto ;
}

.header{
  max-width: 40%;
  justify-content: center;
  margin: auto ;
}

.calendar{
  max-width: 60%;
  margin: auto ;
}
