<mat-card class="oh text-center little-profile">
    <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <div class="pro-img">
            <img src="assets/images/users/4.jpg" width="100" alt="user" class="img-circle">
        </div>
        <h3 class="m-b-0" style="font-size: 1.5rem">Angel Dominic</h3>
        <h6 class="m-t-0 " style="font-size: 1rem">Oftamología</h6>
        <mat-card-actions>
            <button mat-raised-button color="warn">Ver Perfil</button>
        </mat-card-actions>
        <div fxLayout="row" fxLayoutWrap="row wrap" class="m-t-30">
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <mat-icon>star rate</mat-icon>
                <h3 class="m-0 font-light">4.7</h3>
                <small>Calificación</small>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
              <mat-icon>grade</mat-icon>
                <h3 class="m-0 font-light">4.5</h3>
                <small>Respuesta</small>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <mat-icon>grade</mat-icon>
                <h3 class="m-0 font-light">17</h3>
                <small>Años Exp</small>
            </div>
        </div>
    </mat-card-content>
</mat-card>
